#{extends 'main.html' /}
#{adminHeader title:'Administration'/}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-2">
                <h3 id="sayfaListesi">Page List</h3>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" href="@{AdminController.openPage(null,null,null)}" data-toggle="tooltip" title="Create New Page">Add New Page</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                #{webPageList webPageList:webPageList /}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div style="border:solid 1px; margin-bottom:20px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 id="entryListesi">Entry Keyword List</h3>
            </div>
            <div class="col-md-3">
                <a class="btn btn-warning" href="@{EntryController.openEntryKeyword(null,null,null)}" data-toggle="tooltip" title="Add New EntryKeyword and Entries in it.">Add New Entry Keyword</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                #{entryKeywordList entryKeywordList:entryKeywordList /}
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('.pageDeleteLink').confirm({
            text: "This page and its child pages will be permenantly deleted. Are you sure?",
            title: "Confirm Needed",

            cancel: function (button) {
                // nothing to do
            },
            confirmButton: "Yes, I am sure.",
            cancelButton: "No.",
            post: false,
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-default",
            dialogClass: "modal-dialog modal-lg" // Bootstrap classes for large modal
        });
    });


</script>
<style>
    body
    {
    background-image: unset !important;
    }
</style>