#{extends 'main.html' /}
<div class="jumbotron">
    <div class="container">
        <p style="font-size: 30px; color: #ff331f;"><strong>Geelman Administration</strong></p>
    </div>
</div>
<div class="container">
    <div class="content" style="margin-bottom: 10px;">
        <a class="btn btn-warning" href="@{AdminController.openPage(null,null,null)}">New Page</a>
        <a class="btn btn-success" href="/">Return to WebsiteView</a>
    </div>
    <div class="content" id="instructionsButton"><span class="btn btn-info">Instructions</span>

    </div>
    <div class="content">
        <ul>
            <li>
                Press to "Instructions" to hide this.
            </li>
            <li>
                Press to "New Page" to add a page.
            </li>
            <li>
                To update a page, press on the title of relevant page.
            </li>
            <li>
                Press to "Return to WebsiteView" to see the live version of your website.
            </li>
        </ul>
    </div>

    <div id="sayfaListesi"><h3>Page List</h3>

    </div>
    <div class="content">
    #{webPageList webPageList:webPageList /}
    </div>

</div>
<script type="text/javascript">

    $("#instructionsButton").click(function () {

        $header = $(this);
        //getting the next element
        $content = $header.next();
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.slideToggle(200, function () {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
//            $header.text(function () {
//                //change text based on condition
//                return $content.is(":visible") ? "Açıklamaları Kapat" : "Açıklamaları Oku";
//            });
        });

    });

    $(document).ready(function () {

        $('.pageDeleteLink').confirm({
            text: "This page and its child pages will be permenantly deleted. Are you sure?",
            title: "Confirm Needed",

            cancel: function (button) {
                // nothing to do
            },
            confirmButton: "Yes, I am sure.",
            cancelButton: "No.",
            post: false,
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-default",
            dialogClass: "modal-dialog modal-lg" // Bootstrap classes for large modal
        });
    });


</script>
<style>
    body
    {
    background-image: unset !important;
    }
</style>