#{extends 'main.html' /}
#{form @AdminController.saveUser()}
#{adminHeader title:'User CRUD'/}
<div class="container">

        <div class="form-group">
            <label for="userNameInput">User Name</label>
            <input type="hidden" value="${user?.id}" name="user.id">
            <input type="text"  value="${user?.userName}" name="user.userName" class="form-control"
                   id="userNameInput" style="width: 10%; display: inline-block">
        </div>
       <div class="form-group">
            <label for="passwordInput">Şifre</label>
           <input type="hidden" value="1" name="user.role">
            <input type="text"  value="${user?.password}" name="user.password" class="form-control"
                   id="passwordInput" style="width: 10%; display: inline-block">
        </div>
        <div class="content" style="margin-bottom: 10px;">
            <input type="submit" class="btn btn-danger" value="SAVE">
        </div>
    </div>
#{/form}
