<!--<div class="jumbotron">-->
    <div class="container adminheader">
        <div class="row">
            <div class="col-md-9">
                <p style="font-size: 30px; color: #ff331f;"><strong>Geelman ${_title}</strong></p>
            </div>
            <div class="col-md-1">
                <a  href="@{AdminController.index()}" data-toggle="tooltip" title="Go back to Administration">
                    <img class="adminNavigationIcon" src="/public/images/backButton.png">
                </a>
            </div>
            <div class="col-md-1">
                <a  href="/" data-toggle="tooltip" title="View website">
                    <img class="adminNavigationIcon" src="/public/images/wwwIcon.png">
                </a>
            </div>
        </div>
    </div>
<!--</div>-->